@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/first_pic.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">

            </div>
        </div>
     
      
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Hotel Booking</h2>
        <ul>
            <li> Explore Our Curated List Of Luxurious Holiday Getaways In New Zealand. Enjoy A Luxury Vacation With Our Tailor Made Holiday Experiences. Find More Details Here. VIP Events.</li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Links to Big Companies</h2>
        <ul>
            <li><a href="https://www.booking.com/country/nz.en.html?aid=1610687;label=nz-zLSIo7r8rNRY5NeOOkElQAS411219950090:pl:ta:p1:p2:ac:ap:neg:fi:tikwd-302204278539:lp1007802:li:dec:dm:ppccp=UmFuZG9tSVYkc2RlIyh9YfpWGnRw6lOGgfEoJVv7zYo;ws=&gclid=Cj0KCQjw3duCBhCAARIsAJeFyPXdnjRk5puooxtsse0N_WDcGVyociy4Gb9KgEJQkqCRrxpSosbfAS4aAqixEALw_wcB">Booking.com</a></li>
            <li><a href="http://www.harbourcitymotorinn.co.nz/?gclid=Cj0KCQjw3duCBhCAARIsAJeFyPUWPeDvSjp0-0YT7U6IwV2FNE2XLJpblUMVAJ3CyQKteNxnkfr0XowaAn1xEALw_wcB">Harbour City Motor.</a></li>
            <li><a href="https://vrhotels.co.nz/parkview-on-hagley/?gclid=Cj0KCQjw3duCBhCAARIsAJeFyPWPBi37bmZRwObfpuJ2CtSp-6oNjSHiqLeKC5pIFJ08mUVPmQQ71AgaAuzsEALw_wcB">VR Hotels</a></li>

        </ul>
    </div>

    <div class="col-md-6">
        <h2>News</h2>
        <ul>
            After a year that may have changed travel forever, a leading travel website has shown that it isn't afraid to go further into uncharted territory.

            Tripadvisor has announced it is launching a subscription service for regular travellers and frequent flyers to open perks and discounts for future trips.

            "Tripadvisor Plus is a game changer for both travellers and hoteliers," said Kanika Soni, chief commercial officer, Tripadvisor.

            "Travellers get to enjoy a memorable experience thanks to special perks and discounts - and hotels have a brand new way to attract valuable guests while avoiding hefty third-party commissions."
        </ul>
        <ul>
            The company has said members will enjoy cheaper privileges such as spa credit or meals, while offering lower booking fees. Meanwhile, hotels will no longer be required to pay commission on bookings through the website.

            OTAs currently charge up to 30 per cent commission fees on bookings, according to Tripadvisor. Pivoting to rely on subscription fees, the website says overall it will equate for cheaper travel for guests and lower overheads for hotels.

            More importantly it could become a go-to site for members, when it comes to booking travel.
        </ul>
    </div>
</div>
