@page
@model HotelBooking.Pages.CustomerData.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.Name" class="control-label"></label>
                <input asp-for="Customer.Name" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Contact" class="control-label"></label>
                <input asp-for="Customer.Contact" class="form-control" />
                <span asp-validation-for="Customer.Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address" class="control-label"></label>
                <input asp-for="Customer.Address" class="form-control" />
                <span asp-validation-for="Customer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.RoomNo" class="control-label"></label>
                <input asp-for="Customer.RoomNo" class="form-control" />
                <span asp-validation-for="Customer.RoomNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CurrtDate" class="control-label"></label>
                <input asp-for="Customer.CurrtDate" class="form-control" />
                <span asp-validation-for="Customer.CurrtDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
